/*********************** Containers ****************************/

/*
* See Margin - https://www.w3schools.com/css/css_margin.asp
* See Position - https://www.w3schools.com/css/css_positioning.asp
*/
#parent_container {
  position: relative;
  width: 1024;
  height:  410;
  margin: auto;
  margin-top: 100px;
}

/*********************** Canvas ****************************/

canvas {
  position: absolute;
  border: 1px solid black;
  width: 1024;
  height:  510;
  z-index: 1;
}

/* ********************** Fonts ***************************

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/orbitron/orbitron-black-webfont.ttf")
      format("truetype"),
    url("../assets/fonts/orbitron/orbitron-black-webfont.svg") 
    format("svg");
}

@font-face {
  font-family: "Ostrich";
  src: url("../assets/fonts/ostrich/ostrich-sans-black.ttf") 
  format("truetype"),
    url("../assets/fonts/ostrich/ostrich-sans-black.svg") 
    format("svg");
} */

body {
  font-family:ui-rounded;
  letter-spacing: 1px;
  font-size: 18px;
  background-color: rgb(0, 87, 82);
}




/*********************** UI Text ****************************/
/*********************** UI Text ****************************/
#menu_opening,
#ui_score,
#menu_paused,
#ui_lives{
  position: absolute;
  font-family: Trebuchet MS (sans-serif);
  letter-spacing: 2px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(255, 115, 0);
  text-align: center;
  z-index: 2;
}



#menu_lost
{
  position: absolute;
  letter-spacing: 2px;
  font-size: 35px;
  color: rgb(226, 15, 15);
  text-shadow: 3px 3px rgb(0, 0, 0);
  text-align: center;
  z-index: 2;
}

#menu_win
{
  position: absolute;
  letter-spacing: 2px;
  font-size: 35px;
  color: rgb(15, 226, 85);
  text-shadow: 1px 1px rgb(2, 44, 25);
  text-align: center;
  z-index: 2;
}

#menu_opening,
#menu_paused{
  font-size: 48px;
  color: rgb(138, 136, 136);
  text-shadow: 2px 1px rgb(0, 0, 0);
}

#controls
{
  font-size: 20px;
  color: rgb(255, 251, 251);
  text-shadow: 1px 1px rgb(2, 65, 41);
}

#menu_opening,
#menu_paused,
#menu_win,
#menu_lost{
  margin-left: 0px;
  margin-top: 200px;
  width: 1024px;
  height: 60px;
}

#ui_score{
  top:25px;
  left:20px;
  color: rgb(62, 106, 187);
  text-shadow: 1px 1px rgb(154, 111, 223);
}

#ui_lives{
  right:910px;
  top:50px;
  color: rgb(206, 207, 119);
  text-shadow: 1px 1px rgb(223, 156, 111);
}



